@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'components/navigation';
@import 'components/cards';

$color: red;
body { 
    background-color: $color;
}

.container {
  display: flex;
}