---
export interface Props {
    title: string;
    description: string;
    url: string;
    tech: string[];
}

const { title, description, url, tech } = Astro.props;
---

<a
    href={url}
    class="group flex flex-col items-start border border-gray-800 bg-gray-950/50 rounded-xl p-6 transition-all duration-300 hover:border-cyan-500/50 hover:bg-gray-900 shadow-lg hover:-translate-y-1 hover:shadow-cyan-500/10 h-full"
>
    <h3
        class="text-xl font-bold text-gray-100 group-hover:text-cyan-400 transition-colors mb-2"
    >
        {title}
    </h3>
    <p class="text-gray-400 text-sm mb-6 leading-relaxed grow">
        {description}
    </p>
    <div class="flex flex-wrap gap-2 mt-auto">
        {
            tech.map((item) => (
                <span class="px-2.5 py-1 rounded-full bg-cyan-950/50 text-cyan-300 text-xs font-medium border border-cyan-900/50">
                    {item}
                </span>
            ))
        }
    </div>
</a>
